{{> header }}

<h1>Bonjour {{ sellerName }},</h1>
<p>Nous avons le plaisir de vous annoncer que votre compte vendeur <strong>Amen Market</strong> a été validé par nos services bancaires.</p>
<p>Vous pouvez désormais vous connecter à votre interface de gestion pour commencer à ajouter vos produits.</p>

<a href="{{ dashboardUrl }}" class="button">Accéder à mon tableau de bord</a>

{{> footer }}